body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Orbitron', sans-serif;
}
nav a:hover {
  color: white;
  text-shadow: 0 0 10px #c39bff;
}

header {
  background-color: black;
  text-align: center;
  padding: 1rem;
  font-size: 3rem;
  letter-spacing: 2px;
  color: white;
}

nav {
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;
}

nav a {
  color: #cda9ff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
}

.left-section {
  flex: 1;
  max-width: 40%;
}

.left-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-style: italic;
}

.left-section h1 {
  font-size: 4rem;
  background: linear-gradient(to right, #a2ffff, #e4c3ff, #baffd0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.right-section {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.right-section img {
  width: 650px;
  height: auto;
  border-radius: 10px;
}
